body {
    background-color: rgb(75, 75, 75);
    background-repeat: repeat;
    background-size: cover;
    color: white;
}

.max-width {
    max-width: 1300px;
    padding: 0 70px;
    margin: auto;
}

/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0px;
    background-color: rgb(92, 92, 92);
    transition: all 0.3s ease;
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color: aquamarine;
}

.navbar .logo a span {
    color: orange;
    transition: 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: white;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover {
    color: orange;
}

/* sticky nav */

.navbar.sticky{
    padding: 15px 0;
    background: orange;
    transition: 0.3s ease;
}

.navbar.sticky .logo a span {
    color: aquamarine;
}

.navbar.sticky .menu li a:hover {
    color: white;
}



/* home section */

.home {
    display: flex;
    background: url(../photos//george-pagan-iii-WwCTFNpZx8g-unsplash.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: orange;
}

/* media queries */

/* @media (max-width: 947px){
    .max-width {
        padding: 0 50px;
    }
    .navbar .menu {
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
} */

.About {
    height: 50vh;
    width: 100%;
    display: block;
    padding: 20px;
    width: 100%;
}

.About h1 {
    padding: 15px;
    font-size: 60px;
    text-align: left;
}

.About p {
    padding: 15px;
    font-size: 24px;
}

.About li {
    padding: 15px;
    font-size: 24px;
}


#contact {
    color: blue;
}

