:root {

--dark: #2f343a;
--aqua-color: rgb(37, 219, 180);
--light: white;
}

/* * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

body {
    display: flex;
    flex-wrap: wrap;
}

header, nav, ul {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark);
    justify-content: space-between;
}

/* nav ul li {
    display: relative;
} */


/* .page-title {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    color: var(--dark);
    text-align: center;
    font-size: 60px;
    padding-left: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
} */

/* header nav {
    display: inline;
    justify-content: flex-end;

} */

/* .hero {
    max-width: 50%;
    height: auto;
} */